<section class="d-flex justify-content-center align-items-center vh-100 p-3 bg-light">
    <div class="card shadow-lg p-4 p-md-5 login-card">
        <h1 class="text-center mb-4 text-primary fw-bold">
            <i class="fas fa-lock me-2"></i>
            PUR Vendor Portal
        </h1>
        <div class="row">
            <div class="col">
                <form onsubmit="Login(event)">
                    <div class="form-floating mb-3 position-relative">
                        <input name="txt_empno" class="form-control" id="usernameInput" placeholder=" " autofocus />
                        <label for="usernameInput" class="text-muted">Username</label>
                    </div>
                    <p class="m-0 mt-1 text-danger error small fw-bold" id="txt_empno"></p>
                    <div class="form-floating mb-3 position-relative">
                        <input name="txt_password" type="password" class="form-control" id="passwordInput" placeholder=" " />
                        <label for="passwordInput" class="text-muted">Password</label>
                    </div>
                    <p class="m-0 mt-1 text-danger error small fw-bold" id="txt_password"></p>
                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="btn btn-lg btn-primary login-btn shadow-sm">
                            <i class="fas fa-sign-in-alt me-1"></i>
                            Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/Auth/vLogin.js" asp-append-version="true"></script>
}